body {
  font-family:impact,charcoal, sans-serif;
  text-align: center;
  padding: 100px;
  background-color: #8B0000;
}

.container {
  width:90%;
  max-width:600px;
  height:60vh;
  border:2px solid black;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

button {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  background-color: #000e01;
  color: white;
}

#lyrics {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.5;
  min-height: 150px;

}

body {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column; /* vertikal default */
  justify-content: center; /* tengah vertikal */
  align-items: center;     /* tengah horizontal */
  min-height: 100vh;       /* tinggi minimal full layar */
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  min-height: 100vh;       /* tinggi layar penuh */
}





