body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f0f0f0;
}

.container {
  background: #fff;
  padding: 90px;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

button {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  background-color: #000e01;
  color: white;
}

#lyrics {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.5;
  min-height: 150px;
}